{erl_opts, [debug_info]}.
{deps, [
  {gun, "2.1.0"},
  {certifi, "2.16.0"},
  {keylara, "1.2.3"}
]}.

{dialyzer, [
    {plt_extra_apps, [public_key, ssl, crypto]}
]}.

{plugins, [
    {rebar3_hex, "7.0.9"}
]}.

{profiles, [
    {test, [{deps, []}]}
]}.

{hex, [
    {description, "A simple library for creating Matrix bot"},
    {licenses, ["Apache-2.0"]},
    {links, [
        {"GitHub", "https://github.com/roquess/matrix_bot_light"},
        {"Hex.pm", "https://hex.pm/packages/matrix_bot_light"}
    ]},
    {maintainers, ["Steve Roques<steve.roques@gmail.com>"]},
    {doc, #{provider => edoc}}
]}.

{shell, [
  {apps, [matrix_bot_light]}
]}.
